node_modules/
.next/
.npm-cache/
.DS_Store
*.DS_Store
__pycache__/
*.pyc
*.pyo
*.log
frontend/my-app/.next/
frontend/my-app/.npm-cache/
frontend/my-app/node_modules/
opcua-server/__pycache__/
opcua-server/*.log
